@{
   
}

<div class="row">
    <div class="col-xs-3" style="margin-left:40%;margin-top:100px;margin-bottom:100px">
            <form method="post" action="~/movie/login" style="font-size:medium ; margin-top:40px ; margin-left:40px">
                UserName    : <input type="text" placeholder=UserName name=loginInfo.Name> <br /> <br />
                Password    : <input type="password" placeholder=Password name=loginInfo.Password> <br /> <br />
                <input type="submit" class="btn btn-warning bgcolor" value="LogIn" style="margin-left:230px" />
            </form>
        </div>
</div>